<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <br><br>
    <a href="/" id="disable-me">Home</a>
    <br>
    <a href="/date" id="">Search By Date</a>
    <br>
    <a href="/graph" id="">Graphs</a>
    <br>
    <a href="/setting" id="">Setting</a>
</div>
<div class="col-xs-1">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
</div>

<!-- id="disable-me" -->