<table class="table">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Cost</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i< item.length; i++) { %>
        <tr>
            <td>
                <%= item[i].item %>
            </td>
            <td>
                <%= item[i].cost %>
            </td>
            <td>
                <%= item[i].date %>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>