<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <div class="mdl-grid">

        <%- include('partials/navbar') %>
        
        <!-- added to keep everything in center -->
        <div class="mdl-cell mdl-cell--3-col"></div>

        <div class="mdl-cell mdl-cell--6-col">
            <% if ("development" === process.env.NODE_ENV) { %>
            <h5 style="color: red">Development Mode</h5>
            <% } %>

            <br><br>
            <div id="accordion">
                <div class="card">

                    <div class="card-body">

                        <form method="get" action="/date">
                            <div class="form-group">
                                <label for="example-text-input">Start Date</label>
                                <input class="form-control" id="date" name="sdate" placeholder="DD/MM/YYYY" type="text"
                                    required />
                            </div>
                            <div class="form-group">
                                <label for="example-text-input">End Date</label>
                                <input class="form-control" id="date" name="edate" placeholder="DD/MM/YYYY"
                                    type="text" />
                            </div>
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect btn btn-primary"
                                id="show-data">Show</button>
                        </form>
                    </div>

                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col"></div>
            
            <%- include('partials/table') %>

        </div>

    </div>

    <script defer src="script/script.js"></script>
</body>

</html>