<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Spending Tracker</title>

    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>

<body>
    <h1> <%= total[0].total %> </h1>

    <form method="post" action="/">
        <div class="form-group">
            <label for="example-text-input">Item</label>
            <input class="form-control" type="text" id="item" name="item">
        </div>

        <div class="form-group">
            <label for="example-text-input">Price</label>
            <input class="form-control" type="Number" id="cost" name="cost" min="1">
        </div>

        <div class="form-group">
            <label for="example-text-input">Date</label>
            <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text"/>

            <script>
                    $(document).ready(function(){
                      var date_input=$('input[name="date"]'); //our date input has the name "date"
                      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                      var options={
                        format: 'dd/mm/yyyy',
                        container: container,
                        todayHighlight: true,
                        autoclose: true,
                        clearBtn: true,
                        //defaultViewDate: { year: 1977, month: 04, day: 25 },  Change to Today's date
                      };
                      date_input.datepicker(options);
                      
                    })
                </script>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</body>

</html>