<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <div class="mdl-grid">
        
        <%- include('partials/navbar') %>

        <!-- added to keep everything in center -->
        <div class="mdl-cell mdl-cell--3-col"></div>

        <div class="mdl-cell mdl-cell--6-col">
          <h1>Tayar hone ka he <a href="/">GO BACK sanpai</a></h1>
        </div>

    </div>

    <!-- toast -->
    <div id="demo-toast-example" aria-live="assertive" aria-atomic="true" aria-relevant="text"
        class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <script defer src="script/script.js"></script>
</body>

</html>