table {
    text-align: center;
    vertical-align: middle;
}

li {
    cursor: pointer;
}

#submit-btn{
    display: block;
}

#spinner{
    display: none;
}


/* ----------------- Auto Complete Do no do Chedkhani to this ------------------- */

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    /* display: inline-block; */
}

input[type=text] {
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}


/* Side Nav Menu */

.sidenav {
    background-color: #ecf0f1;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 0;
    z-index: 1;
}

.sidenavR {
    background-color: #ecf0f1;
    height: 100%;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    right: 0;
    top: 0;
    transition: .5s;
    width: 0;
    z-index: 1;
}

.sidenav a,
.sidenavR a {
    color: black;
    display: block;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: .3s;
}

.sidenav a:hover,
.offcanvas a:focus,
.sidenavR a:hover,
.offcanvas a:focus {
    color: tomato;
}

.sidenav .closebtn,
.sidenavR .closebtn {
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    top: 0;
}

@media screen and (max-height: 450px) {
    .sidenav,
    .sidenavR {
        padding-top: 15px;
    }
    .sidenav a,
    .sidenavR a {
        font-size: 18px;
    }
}

#disable-me {
    color: rgba(255, 99, 71, 0.795);
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
